{% extends "base.html" %}

{% block lab %} Лабораторнаая работа 2{% endblock %}

{% block main %}
    <h1>Десерты</h1>
    <ol>
        <li>
            <h2>Тирамису</h2>
            <img src='/static/Tiramisu.jpg'>
            Тирамису́ (итал. tiramisù, «вознеси меня» от гл. tira — тяни, mi — меня, su — вверх) — 
            итальянский многослойный десерт, в состав которого входят сыр маскарпоне, кофе (обычно эспрессо), 
            куриные яйца, сахар и печенье савоярди. Как правило, десерт припудривают какао-порошком. 
            Возможна вариация с добавлением грецкого ореха. <br>
            Есть легенда что аналогичный тирамису десерт был впервые приготовлен в XVII веке в Сиене 
            (Тоскана) специально для Великого герцога Тосканы Козимо III Медичи, однако назывался 
            он «Zuppa del duca», чему нет документальных подтверждений. Настоящая история этого 
            кондитерского изделия начинается в 1960-х либо в 1970-х годах, что позволяет считать его
            относительно современным изобретением.
        </li>
        <li>
            <h2>чизкейк</h2>
            <img src='/static/cheesecake.jpg'>
            Чизке́йк (от англ. cheese «сыр» и cake «торт», буквально — «сырный пирог», «творожный пирог») — 
            блюдо европейской и американской кухни, представляющее собой сыросодержащий десерт от творожной 
            запеканки до суфле. <br>
            Древняя форма чизкейка, возможно, была популярным блюдом в Древней Греции ещё до завоевания её 
            римлянами. Самое раннее документальное упоминание о чизкейке — записи греческого врача Эйгимуса 
            (V в. до н. э.), который написал книгу об искусстве изготовления чизкейков 
            (греч. πλακουντοποιικόν σύγγραμμα — plakountopoiikon suggramma). <br>
            Известно, что рецепт чизкейка упоминается в Апициевском корпусе. А в 776 году до н. э. 
            чизкейк преподносили спортсмену-победителю Олимпийских игр. В то время это был пирог, 
            сделанный из мягкого сыра из козьего или овечьего молока, смешанный с пшеничной мукой, 
            яйцами и мёдом, а затем запечённый.
        </li>
        <li>
            <h2>Панна-котта</h2>
            <img src='/static/Panna cotta.jpg cotta.jpg'>
            Панна-котта (итал. panna cotta — «варёные сливки») — североитальянский десерт из сливок, 
            сахара, желатина и ванили. <br>
            Родиной десерта является итальянский Пьемонт. Дословный перевод 
            этого лакомства с итальянского языка звучит как «варёные сливки», однако это скорее сливочный 
            пудинг или просто сливочное желе с добавлением разных ингредиентов. <br>
            Ранее в этом блюде использовались варёные рыбьи кости вместо желатина и не добавлялся сахар, 
            так как он был дорог. <br>
            Несколько аналогичных версий этого блюда можно найти в Греции, Франции и Финляндии. 
            Например, баварский крем из молока и сливок с добавлением желатина по рецепту очень похож на 
            панна-котту. Бланманже также холодный десерт с желатином или варёными костями рыбы, иногда с 
            крахмалом.
        </li>
        <li>
            <h2>Круассан</h2>
            <img src='/static/Croissant.jpg'>
            Круасса́н (фр. croissant — «полумесяц») — небольшое мучное кондитерское изделие, булочка в форме 
            полумесяца (рогалика) из слоёного теста. Очень популярный продукт французской кухни, подаётся на 
            завтрак к кофе для взрослых или к какао («горячему шоколаду» по-французски) для детей; 
            своеобразный символ этой страны. <br>
            Мучные изделия в форме полумесяцев (нем. Kipferl) выпекались в Австрии по меньшей мере с XIII века. 
            Но началом нынешней популярности круассанов можно считать 1839 год, когда австрийский артиллерийский 
            офицер Август Цанг (нем. August Zang) открыл в Париже «Венскую пекарню» (фр. «Boulangerie Viennoise»), 
            где пекли такие булочки. <br>
            Существует легенда, что в 1683 году венский пекарь Петер Вендлер (нем. Peter Wendler) впервые 
            сделал булочку в честь неудачной осады турками Вены и их поражения в Венской битве. Османское 
            войско осадило Вену; пекари, работавшие по ночам и готовившие для горожан свежие булочки к утру, 
            услышали шум от мотыг и кирок, — поняли, что турки делают подкоп под стенами города. Вовремя 
            предупредив об этом солдат, они сорвали план врага.
        </li>
        <li>
            <h2>Бланманже</h2>
            <img src='/static/Blancmange.jpg'>
            Бланманже́ (от фр. blancmanger) — холодное желированное сладкое блюдо, желе из миндального 
            или коровьего молока, сахара и желатина. <br>
            Происхождение бланманже точно не известно, одна из теорий гласит, что блюдо появилось после 
            того, как арабы привезли рис и миндаль в Европу в раннем Средневековье. Другие предположения 
            связаны с эволюцией похожих европейских блюд, например, известного в Дании XIII века hwit moos 
            («белая каша»), англо-норманнского blanc desirree («белое сирийское») или старонидерл. calijs 
            (от латинского colare, «цедить»). Старейший рецепт аналогичного блюда обнаружен в копии датской 
            поваренной книги авторства Хенрика Харпестранга[англ.], который умер в 1244 году, что позволяет 
            датировать книгу концом XII или началом XIII века. Эта книга могла в свою очередь быть переводом 
            более раннего немецкого или даже латинского манускрипта. <br>
            В Средние века бланманже было популярным европейским блюдом, оно упомянуто у Чосера в 
            «Кентерберийских рассказах» и в кулинарной книге начала XV века, составленной придворными поварами 
            Ричарда II. В то время основными ингредиентами этого десерта были коровье или миндальное 
            молоко, сахар, нашинкованная курица или рыба (вареные кости рыбы как аналог желатина), розовая 
            вода, рисовая мука. Полученную смесь тушили на огне.
        </li>
    </ol>
{% endblock %}