{% extends "base.html" %}
{% block lab %}Лабораторная работа 8{% endblock %}
{% block main %}

    <h1>Статьи</h1>

    {% if has_articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                    <form action="{{ url_for('lab8.delete_article', article_id=article.id) }}" method="POST" style="display:inline;">
                        <button type="submit">Удалить</button>
                    </form>
                    <a href="{{ url_for('lab8.edit_article', article_id=article.id) }}">Редактировать</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('lab8.create_article') }}">Создать новую статью</a>
        


    {% else %}
        <p>У вас нет ни одной статьи.</p>
    {% endif %}
    
{% endblock %}